/***** BASE STYLES *****/
body {
  font-family: 'Quattrocento', serif;
  color: #005F84;
  margin: 0;
  padding: 0;
}
#about, #work, #contact {
  height: auto;
}

/***** GRID *****/
.full-width {
  width: 1200px;
  margin: 0 auto;
}
.half-width {
  width: 600px;
  margin: 0 auto;
  float: left;
}
.third-width {
  width: 400px;
  margin: 0 auto;
  float: left;
  text-align: center;
}

/***** HEADER *****/
header {
    height: 200px;
    background: url("../img/hero.png");
    background-size: 1600px auto;
}
header h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 60px;
  color: #005F84;
  padding: 100px 0 0 0;
  margin: 0;
  text-shadow: 2px 2px 20px #E5F7FF;
  z-index: 1;
  position: relative;
}

/***** NAV *****/
nav {
  background: #FFE8CE;
  height: 50px;
  margin: -30px 0 0 0;
}
nav .third-width {
  height: 50px;
  width: 398px;
}
nav #middle-button {
  border-left: 2px solid #005F84;
  border-right: 2px solid #005F84;
}
nav h2 {
  margin: 15px 100px;
  z-index: 2;
  position: relative;
}
nav h2 a {
  font-family: "Quattrocento", serif;
  font-size: 20px;
  color: #005F84;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  height: 30px;
  padding: auto 100px;
}

/***** ABOUT *****/
#about {
  clear: both;
}
#about h1 {
  float: left;
  padding: 50px 50px 20px 0;
  font-size: 40px;
}
#about img {
  float: left;
  padding: 60px 0 30px 0;
}
#about h2 {
  width: 700px;
  line-height: 50px;
  padding: 30px 0 0 0;
  font-size: 26px;
  clear: both;
}

/***** WORK *****/
#work .full-width {
  text-align: center;
  clear: both;
  height: 900px;
}
#work h2 {
  font-size: 32px;
  padding: 80px 0 40px 0;
}
#work h3 {
  font-size: 26px;
  font-weight: bold;
  padding: 10px 50px 10px 50px;
}
#work p {
  font-size: 24px;
  padding: 0 40px 0 40px;
  line-height: 34px;
}
#work span {
  color: #75D7FF;
}
#work img {
  height: 200px;
  padding: 10px;
  margin: 0;
}

/***** CONTACT *****/
#contact {
  clear: both;
  height: 200px;
  background-color: #FFE8CE;
}
#contact h2 {
  font-size: 32px;
  padding: 10px 0 0 0;
}
#contact h3 {
  font-size: 26px;
  padding: 0 0 0 0;
}
#contact h3 a {
  text-decoration: none;
  color: #005F84;
}
#contact img {
  height: 50px;
  padding: 50px;
}
#contact ul li {
  display: inline-block;
  float: right;
}
